/Fundamentos/MundoPc/nbproject/private/
/Fundamentos/MundoPc/build/
/Fundamentos/BloquesInicializacion/nbproject/private/
/Fundamentos/BloquesInicializacion/build/
/Progamacion/ForEach/nbproject/private/
/Progamacion/BloquesInicializacion/build/
/Progamacion/BloquesInicializacion/nbproject/private/